@extends('layouts.base')

@section('page_title')
{{ __('messages.label_hello_exc') }}
@endsection

@section('content')
<h1 style="font-size: 100px; text-align: center; margin-top: 100px; color: pink;">{{ __('messages.label_hello_exc') }}
</h1>
@endsection